@import "src/styles/vars";

.button {
  background: $purple;
  border-radius: 4px;
  padding: 13px 16px;
  border: 0;
  align-items: center;
  width: 100%;
  cursor: pointer;
  span {
    font-weight: 600;
    color: $white;
  }
}

.clearButton {
  background: $white;
  border: 1px solid $purple;
  padding: 10px 16px;
  span{
    color: $purple;
  }
}