@import "src/styles/vars";

.projectContainer {
  display: flex;
  flex-direction: column;
}

.contentBlock {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.contentWrapper {
  width: 684px;
}

.tabsBlock {
  display: flex;
  gap: 32px;
}

.tab {
  cursor: pointer;
  color: $HelperGray;
}

.tabActive {
  text-shadow: 0 0 .65px $TextDark, 0 0 .65px $TextDark;
  color: $TextDark;
}

.tabsProject {
  margin-bottom: 24px;
}



.projectDepositInformationBlock {
  width: 330px;
}
