.myBlogContainer {
  display: flex;
  flex-direction: column;
  width: 684px;
}

.myPostsBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 670px;
  margin-bottom: 13px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.myPostsBlock::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sendBlock {
  min-width: 100%;
}