$dark: #000000;
$TextDark: #152536;
$HeaderDark: #0F1333;
$SecondaryDark: #54595E;
$gray: #6C757D;
$TextSecondary: #7F9DA0;
$Gray200: #E9ECEF;
$Gray300: #DEE2E6;
$LightWhite: #F8F9FA;
$HelperGray: #ABB5BE;
$white: #FFFFFF;
$purple: #593993;
$Purple100: #F0ECF9;
$Purple300: #A98EDA;
$lightPurple: #F0ECF9;
$blue: #2F80ED;
$green: #28A745;

