@import "src/styles/vars";

.stepsBlock {
  margin-bottom: 24px;
}

.textBlock {
  padding: 0 60px;
  margin-bottom: 56px;
  span{
    color: $gray;
    line-height: 28px;
    letter-spacing: 0.01em;
  }
}


.codeBlock {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
}

.code {
  width: 100%;
  justify-content: center;
  display: flex;
  input {
    margin: 0 8px;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    width: 64px;
    height: 80px;
    border: none;
    background: $LightWhite;
    border-radius: 4px;
    color: $purple;
  }
  input:focus {
    outline: 0;
    border: 1px solid $purple;
  }
}

.retryReceiveCode {
  margin-bottom: 56px;
  span {
    color: $gray;
  }

  .sendAgain {
    color: $purple;
    cursor: pointer;
  }
}

.nextStepBlock {
  padding: 0 40px;
}