.appMain {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.appContainer {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.profileInformationBlock {
  margin: 0 21px;
}

.contentBlock {
  width: 100%;
}
